.navmenu{
    display: flex;
    height:60px;
    justify-content: space-between;
    align-items: center;
    font-family: 'Inter';
    font-size: 14px;
}

.navmenu > div{
    display:flex;
    align-items: center;
}

.navmenu > div > * {
    margin:0 0 0 20px;
}

.navmenu > div > ul {
    display: flex;
    list-style-type: none;
}

/* .navmenu li{
    margin:0 0 0 20px;
} */