*{
  margin:0;
  padding: 0;
  box-sizing: border-box;
}


h1, h2{
  font-family: 'Playfair Display', serif;
}

/* fix outline black */
button{
  outline:none !important;
}

a{
  text-decoration:none !important;
}

/* leaflet */
.leaflet{
  height:500px;
  width:100%;
}